<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div class="container">
        <div class="row" style="box-shadow: 2px 4px 2px 4px #aaa;">
            <div class="col s12 center-align">
                <h1>Laracast: Learn Vue2 Step by Step</h1>
                <hr>
                <p>This is a step by step tutorial for learning Vue presented by <a href="https://laracasts.com/series/learn-vue-2-step-by-step/">Laracast</a> </p>
            </div>
        </div>
        <div class="row" id="root">
            <h1>App 1</h1>
            <div class="col s12 center-align">
                <h2>Examples of Data Binding</h2>
            </div>  
        
            <h4>Silly names</h4>
            <ul>
                <li v-for="name in names" v-text="name"></li>
            </ul>
            <br>
            <div class="input-field">
                <input type="text" id="add_name" v-model="newName">
                <label for="add_name">Name to Add</label>
                <button @click="addName">Add to List</button>
            </div>
            <div class="attribute-binding" style="padding-top: 4em;">
                <h4 :class="{ 'indigo-text': indt }" @click="toggleClass">Attribute Binding - Click Here</h4>
                <button class="btn indigo darken-2" v-bind:title="title">HOver Over Me</button>
            </div>
        </div>
        <div class="divider indigo darken-4" style="box-shadow: 1px 2px #aaa;"></div>
        <div class="row" id="app2">
            <h1>App2: Computed Properties</h1>
            <h2 class="center-align indigo-text text-darken-2" v-text="reversedMessage"></h2>
            <h4>All Tasks - Toggle to Change Status</h4>
            <ul>
                <li v-for="task in tasks" style="margin-top: 2em;"> 
                    {{task.description}}
                    <span class="lr-pad"></span>
                    <div class="switch right">
                        <label>
                            <input type="checkbox" @click="toggleTask(task)" v-model="task.completed">
                            <span class="lever"></span>
                        </label>
                    </div>
            </ul>
            <h4>Incomplete Tasks</h4>
            <ul>
                <li v-for="task in incompleteTasks" v-text="task.description"></li>
            </ul>
            <h4>Completed Tasks</h4>
            <ul>
                <li v-for="task in completedTasks" v-text="task.description"></li>
            </ul>
        </div>
        <div class="divider indigo darken-4"></div>
        <div class="row" id="app3">
            <h1>App3: Components & Slots</h1>
            <task>Things and Stuff</task>
            <task>Wombats and Stuff</task>
        </div>
    </div>
    

    
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://unpkg.com/vue@2.1.3/dist/vue.js"></script>

    <script src="main.js"></script>

    <script>

        var app = new Vue({
            el: '#root',
            data: {
                indt: false,
                newName: "",
                names: ['Bob', 'Joe', 'Phillip', 'Diller', 'Wombat Magician'],
                title: "Title is set via JavaScript"
            },
            methods: {
                addName () {
                    this.names.push(this.newName);
                    this.newName='';
                },
                toggleClass () {
                    this.indt = !this.indt;
                }
            },
            // mounted() {
            //    document.querySelector('#add-btn').addEventListener('click', () => {
            //         let name = document.querySelector('input');
            //         app.names.push(name.value);
            //         name.value = '';

            //     });
            // },
        });
        
        var app2 = new Vue({
            el: '#app2',

            data: {
                message: "Hello World",
                tasks: [
                    {description: 'Buy eggs', completed: false},
                    {description: 'Ride bike', completed: false},
                    {description: 'Do yoga', completed: true},
                    {description: 'Read book', completed: true},
                    {description: 'Make dinner', completed: false},
                ]
            },
            computed: {
                reversedMessage() {
                    return this.message.split('').reverse().join('');
                },
                incompleteTasks() {
                    return this.tasks.filter(task => !task.completed)
                },
                completedTasks() {
                    return this.tasks.filter(task => task.completed)
                }
            },
            methods: {
                toggleTask(task) {
                    task.completed = !task.completed;
                }
            }
        })
    
    </script>
</body>
</html>